.grid-container {
    display:grid;
}
.header {
    grid-area:header;
}
.section-one{
    grid-area:section-one;
}
.section-two{
    grid-area:section-two;
}
.section-three{
    grid-area:section-three;
}
.main-grid {
    grid-area: main-grid;
}
body {
    font-family: 'Noto Serif JP', serif;
}
h1 {
    font-size: 30pt;
    padding: 50pt 50pt;
}
h2 {
    font-size: 25pt;
    margin: 5pt;
}
p {
    margin: 2pt 0 20pt;
}
.hr-one {
    width: 100%;
    height: 30pt;
    background-color: #33A8DD;
}
.hr-two {
    width: 100%;
    height: 30pt;
    background-color: #F46731;
}
.hr-three {
    width: 100%;
    height: 30pt;
    background-color: #2BCDC0;
}

@media (max-width: 992px) { 
    .body-grid {
        grid-template-areas: 
        "header"
        "main-grid";
    }
    .main-grid {
        grid-template-areas: 
        "section-one section-two section-three ";
    }
    .header {
        text-align: center;
        background-color: #2BCDC0;
        color: white;
    }
    .main-properties {
        text-align: center;
        background-color: #1B1B1B;
        padding: 10pt 20pt;
        color: white;
    }
    section {
        margin: 20pt;
    }
    .hr-one, .hr-two, .hr-three {
        height: 20pt;
        border: none;
    }
}

@media (max-width: 576px) { 
    .body-grid {
        grid-template-areas:
        "header"
        "main-grid"
        "main-grid"
        "main-grid";
    }
    .main-grid {
        grid-template-areas: 
        "section-one"
        "section-two"
        "section-three";
    }
    .header {
        text-align: left;
        color: white;
        background-color: #33A8DD;
        padding-left: 30pt;
    }
    .main-properties {
        text-align: center;
        background-color: #F7F5F6;
        padding: 25pt 70pt;
        color: black;
    }
}